

<nav class="navbar navbar-custom-1" data-ng-init="registerStatus = 'one'" >
                    <div class="container-fluid white-border-bottom">
                        <div class="brand-1 navbar-header">
                        <a class="brand-font navbar-brand  mx-auto" href="#">Workout Tracker</a>
                            
                        </div>
                        <div class="button-login-1 navbar-body">
                             <button class="btn btn-1 navbar-btn pull-right" type="button" onclick="location.href">Log In</button>
                        </div>
                    </div>
</nav>

<div class="sign-up-center"></div>
<div class="container-fluid">
    
    <div class="row text-center" style="padding-top:5%">
        <div class="col-md-12">
                <p class="h4">Your username or password is incorrect.</p>

                <div id="btn-next"><button class="btn-2" type="button" data-ng-click="tologin()" type="submit"  >Back to Log In</button></div> 
         </div>
    </div>
            

    

</div>




<script src="register.js"></script>
<script src="frameworks/js/jquery.js"></script>
