
 
        <div class="container">
               
                <div id="img-bgg">
                     <img id="a" src="http://imgh.us/index_72.jpg" alt="">
                </div>
        
     
               
        <nav class="m-navbar-welcome navbar navbar-custom">
                    <div class="container-fluid white-border-bottom">
                        <div class="brand navbar-header">
                        <a onmouseover="this.style.color = '#347AB6'" onmouseout="this.style.color = 'white'"class="website-brand navbar-brand  mx-auto" href="#">Workout Tracker</a>

                         <div style="margin-top:0%; margin-right: 5%;"class="m-display button-login navbar-body">
                             <button class="btn-custom btn navbar-btn pull-right" type="button" data-ng-click="tologin()">Log In</button>
                        </div>
                            
                        </div>
                        <div class="d-button-login button-login navbar-body">
                             <button class=" btn-custom btn navbar-btn pull-right" type="button" data-ng-click="tologin()">Log In</button>
                        </div>
                    </div>
        </nav>

        <div class="row">
            <div class="col-md-12 text-center " id="jintro-resize">
                
                <div id="intro" >
                    <p id="intro-text" class="m-intro-text  text-center">Sign up now to generate your very own customized workout based on your preferences!</p>
                    <div class=" m-intro-btn intro-btn-div" id="btn-start"><button class="btn btn-custom intro-btn center-block" data-ng-click="toregister1()" type="button" >Get Started</button></div>
                </div> 
                
                <div id="intro-see-more" class="text-white"  >
                    <p class="color-white">see more</p>
                    <span class="glyphicon glyphicon-chevron-down color-white"></span>
                </div>
            </div>
            
        </div>
</div>
        
    
        <div class="container-fluid" style="width:100%;">
        <div class="row intro-features-bg">
            <div class="col-md-4 col-sm-4 col-xs-12 m-intro-features intro-features text-center" id="intro-feature-text-1">
                <span class="m-global-color glyphicon glyphicon-check"></span>
                <p class="m-global-color h4">Workout Generator</p>
                <p class="intro-feature-text">Corporate sites differ from electronic commerce, portal, or sites in that they provide information to the public about the company rather than transacting business or providing other services.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 m-intro-features intro-features text-center" id="intro-feature-text-2">
                 <span class="m-global-color glyphicon glyphicon-time"></span>
                <p class="m-global-color h4">Workout Tracker</p>
                 <p class="intro-feature-text">Corporate sites differ from electronic commerce, portal, or sites in that they provide information to the public about the company rather than transacting business or providing other services.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12  m-intro-features intro-features text-center" id="intro-feature-text-3">
                 <span class="m-global-color glyphicon glyphicon-wrench"></span>
                <p class="h4 m-global-color">Custom Builder</p>
                <p class="intro-feature-text">Corporate sites differ from electronic commerce, portal, or sites in that they provide information to the public about the company rather than transacting business or providing other services.</p>
            </div>
        </div>
        
        
        <div class=" row">
            <div class="col-md-12 intro-footer text-center ">
            <button class="btn m-intro-btn intro-btn center-block" type="button" style="margin-bottom:3%">Important Disclaimer</button>
               <p class="m-footer-text color-white align-center" style="width:80%;">WorkoutTracker.com is singe page application that builds a workout program based on your needs and specification. Corporate sites differ from electronic commerce, portal, or sites in that they provide information to the public about the company rather than transacting business or providing other services.</p>
               <div >
                  <a href="#" class=" h2 m-social-icons fa fa-facebook color-white footer-icon"></a>
                  <a href="#" class="h2 m-social-icons fa fa-instagram color-white footer-icon"></a>
                  <a href="#" class="h2 m-social-icons fa fa-twitter color-white footer-icon"></a>
                
                </div>
                
                
            
            
            
       
        
        </div> 
    </div>
        
        

        <script src="frameworks/js/jquery.js"></script>
        </div>
